
@import './base/variables.css';
@import './base/typography.css';
@import './components/button.module.css';
@import './components/card.module.css';


/* global styles here imported in main.jsx */


/* absolute global styling */
:root {
  --sidebar-width: 25rem;

  font-family: var(--font-family);
  font-size: var(--text-base);

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* container selectors for flex and grid*/
* {border: solid red 1px;}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  cursor: default;
}


#root {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav {
  position: sticky;
  top: 0;
  height: 5rem;
  z-index: 100;
  background-color: aqua;
  opacity: 50%;
}


main {
  width: 100%;
  display: flex;
}

aside {
  position: sticky;
  top: 5rem;
  width: 40rem;
  height:  calc(100vh - 5rem);
  background-color: aquamarine;
  opacity: 50%;
  display: flex;
  flex-direction: column;
}

.react-aria-Tree {
  height: 10%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 2;
}

#yearsfiltercontainer {
  flex: 1;
}

#orderfiltercontainer {
  flex: 1;
}

.infinite-scroll-component__outerdiv {
  display: flex;
  flex: 1;
}

.infinite-scroll-component {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  padding: 1rem;
}


.spinner {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #007bff; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


section {
  flex: 1;
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

/* Tablet */
@media (min-width: 361px) and (max-width: 1000px) {

  section {
    min-width: 3rem;
    justify-content: center;
  }
}

@media (max-width: 500px) {

    nav {
    height: 7rem;
  }
  
}

/* Mobile */
@media (max-width: 360px) {

  section {
    gap: 0.5rem;
    justify-content: center;
  }
}

