
@import './base/variables.css';
@import './base/typography.css';
@import './components/button.module.css';
@import './components/card.module.css';


/* global styles here imported in main.jsx */


/* absolute global styling */
:root {
  --sidebar-width: 15rem;

  font-family: var(--font-family);
  font-size: var(--text-base);

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* container selectors for flex and grid*/
* {border: dashed var(--color-primary-glow) 0px;}

html, body, nav, #root, main, section, .infinite-scroll-component__outerdiv, .infinite-scroll-component {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  cursor: default;
  background: url('/starfield.jpg') center center fixed;
  background-size: cover;
  cursor: url('/icons/custompointervar.svg'), auto;
}


#root {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}


main {
  width: 100%;
  display: flex;
}

.infinite-scroll-component__outerdiv {
  display: flex;
  flex: 1;

}

.infinite-scroll-component {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  padding: 1rem;
  background-color: var(--color-background-overlay);
}


.spinner {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid var(--color-background-translucent); 
  border-color: var(--color-primary-glow);
  box-shadow: 10 10 12px var(--color-primary-glow);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.glass {
  background: var(--color-background-translucent);
  backdrop-filter: blur(4px);
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-primary-glow);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-glow);
  border-radius: 10px;
  border: 4px solid var(--color-primary-glow);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


section {
  flex: 1;
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.endResult {
  color: var(--color-text-muted);
  margin: 1.5rem;
  font-size: var(--text-lg);
  font-weight: 600;
}

/* Tablet */
@media (min-width: 361px) and (max-width: 1000px) {

  section {
    min-width: 3rem;
    justify-content: center;
  }
}

@media (max-width: 500px) {

    nav {
    height: 7rem;
  }
  
}

/* Mobile */
@media (max-width: 360px) {

  section {
    gap: 0.5rem;
    justify-content: center;
  }
}

