/* Global text rules (headings, paragraphs) */

@import './variables.css';

/* base default font */
body {
  font-family: var(--font-family);
  font-size: var(--text-base);          /* Base font size */
  line-height: var(--line-height-md);    
  color: var(--color-text);
}

p {
  margin: 0;
  padding: 5px;
  font-size: 1rem;
line-height: 1.5;
  text-align: left;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-text-link-hover);
}

/* Tablet styles */
@media (min-width: 31.25em) and (max-width: 62.5em) {
  body {
    font-size: var(--text-sm);
  }
}


/* Mobile styles */
@media (max-width: 31.25em) { /* ~500px */
  body {
    font-size: var(--text-sm);
  }

  h2 { font-size: 1.75rem; }
}

