
/* following BEM */

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 264 / 374;
}

.card {
  aspect-ratio: 264 / 374;
  max-width: 264px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.ss_card {
  aspect-ratio: 400/ 267;
  flex: 1;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  width: 100%;
}

.ss_card_image {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 400/ 267;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.card_cover_container {

}

.card_image {

}

.card_image--big {

}