
/* following BEM */

.card {
  flex: 1;
}

.ss_card {
  width: 300px;     
  height: auto;     
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}


.ss_card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


.card_cover_container {

}

.card_image {

}

.card_image--big {

}