
.outercontainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detailscontainer {
  max-width: 100% ;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
};

.ebaycontainer {
  flex: 1;
}

.covercontainer {
  flex: 2;
  height: 100%;
}

.datacontainer {
  flex: 4;
}

.likeBtn {
  padding: 0%;
  background-color: transparent;
  outline: none;
  border: none;
}

.likeBtn:focus, .likeBtn:hover {
  border: none;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.screenshot {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  object-fit: contain;
}

.arrow {
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 10px;
  user-select: none;
  transition: opacity 0.2s ease;
}

.arrow:hover {
  opacity: 0.6;
}
