
@import '../base/variables.css';

.Button {
  color: var(--color-border);
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  border-color: var(--color-background-light);
  border: 3px solid var(--color-background-light);
  height: 2.5rem;
  color: var(--color-text);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  outline: 0;
  margin: 0;
  opacity: 70%;


}

.ButtonIcon {
  margin-right: -0.25rem;
}

.Positioner {
  outline: 0;
  margin-top: 10px;
}

.Popup {  
  z-index: 1;
  box-sizing: border-box;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  background-color: var(--color-background);
  color: var(--color-text);
}



.Item {
  outline: 0;
  cursor: pointer;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  z-index: 1;

  &[data-highlighted] {
    position: relative;
    color: var(--color-gray-50);
  }

}

.Item:hover {
  background-color: var(--color-background-light);
}

.Separator {
  margin: 0.375rem 1rem;
  height: 1px;
  background-color: var(--color-surface);
}
