@import '../base/variables.css';

.toggleButton {
  
}

.sidebarlistbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.categoryheader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #9e9e9e;
  margin-bottom: 0.4rem;
  letter-spacing: 0.5px;
}

.categoryitem {
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.categoryitem:hover {
  background-color: #1f1f1f;
}

.categoryitem[data-focused] {
  outline: none;
  background-color: #333333;
}

.categoryitem[data-selected] {
  background-color: #0d6efd;
  color: white;
}
